

<div class="text-center pt-10">

    <h1 class="text-2xl">¿Estás interesado en nuestros servicios?</h1>
    <br>
    <p class="italic">| Contáctanos hoy mismo para una consulta gratuita |</p>
  
  </div>
  
  
  <div class=" container flex items-center justify-center h-screen mx-auto">
  
      <div class="bg-slate-100 p-5 rounded-lg shadow-lg w-full max-w-sm">
  
        <h2 class="text-2xl font-bold mb-6 text-center">Contacto</h2>
        <form action="#" method="POST">
          <div class="mb-4">
            <label for="name" class="block text-gray-700">Nombre:</label>
            <input type="text" id="name" name="name" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
          </div>
          <div class="mb-4">
            <label for="email" class="block text-gray-700">Correo Electrónico:</label>
            <input type="email" id="email" name="email" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
          </div>
          <div class="mb-4">
            <label for="subject" class="block text-gray-700">Asunto:</label>
            <input type="text" id="subject" name="subject" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
          </div>
          <div class="mb-4">
            <label for="message" class="block text-gray-700">Mensaje:</label>
            <textarea id="message" name="message" rows="4" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
          </div>
          <div class="text-center">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Enviar</button>
          </div>
        </form>
      </div>
  </div>

  <div class="text-center text-base font-sans font-semibold pt-5">
    <h3>Encuentranos en todas nuestras redes sociales</h3>
</div>

<div class="flex flex-wrap justify-around mx-auto p-4 gap-4 pt-20 pb-20">
    
    <a href="">
      <img width="48" height="48" src="https://img.icons8.com/color/48/facebook-new.png" alt="facebook"/>
    </a>

    <a href="">
      <img width="48" height="48" src="https://img.icons8.com/color/48/whatsapp--v1.png" alt="whatsapp"/>
    </a>
    
    <a href="">
      <img width="48" height="48" src="https://img.icons8.com/color/48/instagram-new--v1.png" alt="instagram"/>
    </a>

    <a href="">
      <img width="48" height="48" src="https://img.icons8.com/color/48/tiktok--v1.png" alt="tiktok"/>
    </a>

    <a href="">
      <img width="48" height="48" src="https://img.icons8.com/color/48/youtube-play.png" alt="youtube"/>
    </a>

</div>

<div class="m-5" >

  <h3 class="text-center text-base font-sans font-semibold pt-5">| Ubicación |</h3>
  <br>
  <div class="flex items-center justify-center">

  <img width="50" height="50" src="https://img.icons8.com/ios/50/place-marker--v1.png" alt="place-marker"/>

  </div>
  <br>
  <div class="flex items-center justify-center">
  <iframe class="rounded" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60269.631087869166!2d-103.76794588811877!3d19.24528332632959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842545523455a217%3A0xb6b497fc5af555e6!2sColima%2C%20Col.!5e0!3m2!1ses!2smx!4v1725368158255!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <br>

</div>


  
