


<div class="pt-6" >

    <h1 class="mb-4 text-2xl leading-none tracking-tight text-gray-900 md:text-3xl lg:text-4xl  dark:text-white text-center ">Conócenos</h1>

    <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400 text-center">¡Somos los mejores en el área!</p>

</div>




<div class="container mx-auto p-6">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 justify-items-center">


        <div class="max-w-sm p-6 bg-white border border-gray-400 rounded-md shadow dark:bg-gray-800 dark:border-gray-700">

                <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white text-center">Optimización de Procesos de Producción:</h5>

            <p class="mb-3 font-sans text-gray-700 dark:text-gray-400 text-center">
                Análisis y mejora de los procesos de producción para aumentar la eficiencia y reducir desperdicios.
            </p>
            
        </div>

        <div class="max-w-sm p-6 bg-white border border-gray-400 rounded-md shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="#">
                <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white text-center">Automatización Industrial</h5>
            </a>
            <p class="mb-3 font-sans text-gray-700 dark:text-gray-400">
                Implementación de sistemas automatizados para mejorar la precisión y velocidad de la producción.

            </p>
            
        </div>

        <div class="max-w-sm p-6 bg-white border border-gray-400 rounded-md shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">Mantenimiento Predictivo:</h5>
            </a>
            <p class="mb-3 font-sans text-gray-700 dark:text-gray-400">
                Uso de tecnología avanzada para predecir y prevenir fallos en equipos, minimizando tiempos de inactividad.

            </p>
        </div>

        <div class="max-w-sm p-6 bg-white border border-gray-400 rounded-md shadow dark:bg-gray-800 dark:border-gray-700">

            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">Diseño y Desarrollo de Productos:</h5>

            <p class="mb-3 font-sans text-gray-700 dark:text-gray-400">
                Creación y mejora de productos mediante técnicas avanzadas de diseño y prototipado.
            </p>
                
        </div>

        <div class="max-w-sm p-6 bg-white border border-gray-400 rounded-md shadow dark:bg-gray-800 dark:border-gray-700">

            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">Gestión de la Cadena de Suministro:</h5>

        <p class="mb-3 font-sans text-gray-700 dark:text-gray-400">
            Optimización de la cadena de suministro para asegurar una entrega puntual y reducir costos.
        </p>

        </div>

        <div class="max-w-sm p-6 bg-white border border-gray-400 rounded-md shadow dark:bg-gray-800 dark:border-gray-700">

            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">Control de Calidad:</h5>

        <p class="mb-3 font-sans text-gray-700 dark:text-gray-400">
            Sistemas y procesos para asegurar que los productos cumplan con los estándares de calidad requeridos.
        </p>

        </div>

        <div class="max-w-sm p-6 bg-white border border-gray-400 rounded-md shadow dark:bg-gray-800 dark:border-gray-700">

            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">Seguridad Industrial</h5>

        <p class="mb-3 font-sans text-gray-700 dark:text-gray-400">
            Evaluación y mejora de las condiciones de seguridad en las plantas de manufactura para proteger a los empleados y cumplir con regulaciones.
        </p>

        </div>

    </div>
</div>



